/* This would hide all but the author+date header of tweets. */
/*
article.rne-tweetdeck-tweet-redacted  > div.item-box div.tweet > div.tweet-body {
  opacity: 0.15;
}
*/



/* Regular tweet */

article.rne-tweetdeck-tweet-redacted  > div.item-box div.tweet > header.tweet-header > time.tweet-timestamp > a:last-child:after {
  display: inline-block;
  margin-left: 5px;
  content: "";
  width: 1em;
  height: 1em;
  background: url(chrome-extension://__MSG_@@extension_id__/images/book_gray_19.png) no-repeat center center;
  background-size: 1em;
}
/* Tweet text. */
article.rne-tweetdeck-tweet-redacted  > div.item-box div.tweet > div.tweet-body > p.tweet-text {
  opacity: 0.15;
}
/* Tweet image(s)/video. */
article.rne-tweetdeck-tweet-redacted  > div.item-box div.tweet > div.tweet-body > div.media-preview {
  display: none;
}
/* Quoted tweet text. */
article.rne-tweetdeck-tweet-redacted  > div.item-box div.tweet > div.tweet-body > div.quoted-tweet p.js-quoted-tweet-text {
  opacity: 0.15;
}
/* Quoted tweet thumbnail image. */
article.rne-tweetdeck-tweet-redacted  > div.item-box div.tweet > div.tweet-body > div.quoted-tweet div.media-preview {
  display: none;
}



/* Account activity */

article.rne-tweetdeck-account-activity-redacted > div.item-box div.account-summary > div.obj-right:after {
  display: inline-block;
  content: "";
  width: 1em;
  height: 1em;
  background: url(chrome-extension://__MSG_@@extension_id__/images/book_gray_19.png) no-repeat center center;
  background-size: 1em;
}
/* Account activity bio text. */
article.rne-tweetdeck-account-activity-redacted > div.item-box div.account-summary > div.account-summary-text p.account-bio {
  opacity: 0.15;
}



/* UI elements hidden as long as RNE is working properly. */
.rne-suppressed {
  display: none !important;
}
/* UI elements injected by RNE, which should be removed during panic(). */
.rne-added {
}
