/* This would hide all but the author+date header of tweets. */
/*
div.rne-vanilla-tweet-redacted  > div.content > *:not(.stream-item-header) {
  opacity: 0.15;
}
*/

/* Tweet text. */
div.rne-vanilla-tweet-redacted  > div.content > p.tweet-text {
  opacity: 0.15;
}
/* Tweet image(s)/video. */
div.rne-vanilla-tweet-redacted  > div.content > div.AdaptiveMedia {
  display: none;
}
/* External link previews. */
div.rne-vanilla-tweet-redacted  > div.content > div.js-media-container {
  display: none;
}
/* Quoted tweet text. */
div.rne-vanilla-tweet-redacted  > div.content > div.QuoteTweet div.tweet-content div.QuoteTweet-text {
  opacity: 0.15;
}
/* Quoted tweet thumbnail image. */
div.rne-vanilla-tweet-redacted  > div.content > div.QuoteTweet div.tweet-content > div.QuoteMedia {
  display: none;
}
